name: Image builder

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  schedule:
    - cron: '0 3 1-7 * SAT'
  push:
    branches: [ "master" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "master" ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  stage1: base
  stage2: neuroscience

  
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Aggressive cleanup
        run: |
          # Remove JVM, .NET, Swift, Azure, Julia, Android, chromium, Google, Powershell and clean up Docker
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/local/julia*
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /opt/microsoft /opt/google
          sudo rm -rf /opt/az
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /opt/hostedtoolcache


      - name: Check free space
        run: |
          echo "Free space:"
          df -h
      
      - name: convert repo name to lower case
        run: echo "REPO=${GITHUB_REPOSITORY@L}" >> "${GITHUB_ENV}"

      - name: Checkout repository
        uses: actions/checkout@v6

      # Install the cosign tool except on PR
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad #v4.0.0
        with:
          cosign-release: 'v2.2.4'

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.REPO }}


      - name: Build and push (${{ env.stage1 }})
        id: build-base
        uses: docker/build-push-action@v5
        with:
          context: .
          target: ${{ env.stage1 }}
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO }}:${{ env.stage1 }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push ${{ env.stage2 }})
        id: build-ns
        uses: docker/build-push-action@v5
        with:
          context: .
          target: ${{ env.stage2 }}
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO }}:${{ env.stage2 }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Sign stage1 image
        run: |
          cosign sign --yes \
            ${{ env.REGISTRY }}/${{ env.REPO }}@${{ steps.build-base.outputs.digest }}

      - name: Sign stage2 image
        run: |
          cosign sign --yes \
            ${{ env.REGISTRY }}/${{ env.REPO }}@${{ steps.build-ns.outputs.digest }}